<div class="main-content-container container-fluid px-4">
    <div class="page-header row no-gutters py-4">
      <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <h3 class="page-title">Track live location of ambulance</h3>
      </div>
    </div>
  
    <!-- <div class="card card-small mb-4">
      <div class="card-header border-bottom">
        <h6 class="m-0" >Search</h6>
      </div>
      <div class="card-body">
        <br>
            
      </div>
      <div class="card-footer">
        <button class="btn btn-md btn-primary float-right"  ><i class="fas fa-search"></i> Search</button>
      </div>
    </div> -->
  
    <div class="row">
      <div class="col">
        <div class="card card-small mb-4">
          <div class="card-header border-bottom">
            <h6 class="m-0">Live over GIS map</h6>
          </div>
          <div class="card-body p-0 pb-3 text-center">
            <iframe  style="height: 500px;width: 100%;" src="http://localhost:1022/" title="description"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="test1.js"></script>